[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
easysymlink = {editable = true, path = "."}
pywin32 = "*"
ntfsutils = "*"
pyinstaller = {extras = ["encryption"], version = "*"}
python-dotenv = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
